* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

html,
body {
  background-image: url("/images/pattern-background-desktop.svg");
  background-color: hsl(224, 13%, 77%);
  height: 500px;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Outfit", sans-serif;
  font-family: "Red Hat Display", sans-serif;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.order-container {
  max-width: 375px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
}

.content {
  padding: 2rem;
}

.heading {
  text-align: center;
}

.sub-heading {
  text-align: center;
  margin-top: 1rem;
  color: hsl(224, 23%, 55%);
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  background: hsl(225, 100%, 98%);
  padding: 1rem;
  border-radius: 10px;
}

.info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.anual-plan > p {
  color: hsl(224, 23%, 55%);
}

.change {
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
  text-transform: capitalize;
}

.change:hover {
  text-decoration: none;
  cursor: pointer;
  color: hsl(225, 76%, 38%);
}

.payment {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: hsl(245, 75%, 52%);
  padding: 0.8rem;
  border-radius: 10px;
  color: #fff;
}

.payment:hover {
  text-decoration: none;
  cursor: pointer;
  background: hsl(258, 68%, 60%);
  -webkit-box-shadow: 2px 4px 15px 0px hsl(258, 68%, 60%);
  -moz-box-shadow: 2px 4px 15px 0px hsl(258, 68%, 60%);
  box-shadow: 2px 4px 15px 0px hsl(258, 68%, 60%);
}

.cancel {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.8rem;
  border-radius: 10px;
  color: hsl(224, 23%, 55%);
}

.cancel:hover {
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
